doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        style
            include ../../public/css/layout/base.css
        style
            include ../../public/css/partials/header.css
        script(src='/js/layout.js' type="module")
        block style
        block scripts
        block title
    body
        include ../partials/header
block section